@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.header__title{
    background-color: #251749;
    color: #FFFBEB;
    padding: 1rem 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.header__navbar {
    background-color: #251749;
    color: #FFFBEB;
    padding: 1rem 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    background-color: #251749;
    color: #FFFBEB;
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: #FFFBEB;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;
}

.material-icons{
    background-color: #251749;
    position: relative;
    top: 5px;
    color: #FFFBEB;
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: #FFFBEB;
    margin-left: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #251749;
    color: #FFFBEB;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifi{
    position: relative;
    right: 20px;
    top: 5px;
    background: red;
    border-radius: 0.2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    color: #FFFBEB;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    width: 1em; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

html, body, #root {
    height: 100%;
    width: 100%;
    background-color: #F0EBE3;
}

#root {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #251749;
    color: #FFFBEB;
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
}

main {
    color: black;
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
    height: 20%;
    width: 100%;
    display: flex;  
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 215px 85px 37px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
}

.card-image {
    grid-area: image;
    object-fit: scale-down;
    width: 66%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text{
    grid-area: text;
    background: #7D9D9C;
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative; top: 5%; left:0px; width:100%;
}


.card-stats {    
    grid-area: stats;
    background: #251749;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative; top:45%; left:0px; width:100%;
    font-size: small;
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}

.main{
    justify-items: auto;
    align-items: baseline;
}

.container {
    display: flex;
    margin-bottom: 100px;
}
  
.image-column {
    width: 70%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
  
.content-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}
  
.description {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
}

.price{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contador{
    display: flex;
    display: inline-block;
    align-items: center;
}

.containercarrito {
    padding: 1rem 0.5rem;
    width: 95%;
}

.cardcarrito {
    display:grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 200px;
    grid-gap: 0px;
    height: 200px;
    width: 100%;
    grid-template-areas: "img txt info";
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items:center;
    justify-content:center;
}

.imgcontcarrito{
    grid-area: img;
    width: 160px;
    height: 160px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardcarrito-image {
    grid-area: img;
    display: flex;
    object-fit: scale-down;
    width: 100%;
    height: 200px;
    background: white;
}

.cardcarrito-text{
    grid-area: txt;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    background: #7D9D9C;
    color: black;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.statscontcarrito{
    display:grid;
    grid-area: info;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    grid-template-areas: "txtstats" "btnstats";
    background: #251749;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.cardcarrito-stats {
    grid-area: txtstats;   
    display: flex;
    background: #251749;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content:center;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btncarrito{
    grid-area:btnstats;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
}

.cardtotal {
    display:flex;
    height: 50px;
    width: 33%;
    background: #251749;
    color:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items:center;
    float: right;
    justify-content: space-between;
    
}

.btntotal{
    margin-right: 12px;
}

.txttotal{
    margin-left: 12px;
    margin-top: 15px;
}

.cartentymsg {
    text-align: center;
    margin: 2%;
    color: gray;
    margin-bottom: 40px;
}

.small-component {
    width: 100%;
    align-items:safe;
    overflow:hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inputform{
    margin-bottom: 10px;
}

.btnform{
    margin-top: 10px;
    float:right;
}

.divventa{
    background-color: #7D9D9C;
    width: 80%;
    height: 50%;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenventa {
    text-align: center;
    margin: 2%;
}